
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#parent {
  width: 50%;
  -webkit-box-shadow: 0 5px 5px 5px red;
  box-shadow: -1px 0 5px gray, 1px 0 5px gray, 0 1px 5px gray;
  font-family: sans-serif;
  font-size: 20px;
  color: gray;
}

#parent ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#parent li {
  padding: 10px 12px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: gray solid 1px;
}

#parent span {
  width: 90%;
  text-align: left;
}

#parent .head {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: gray solid 1px;
}

.div_input {
  border-bottom: gray solid 1px;
}

#parent .input,
#parent .desc {
  width: calc(100% - 60px);
  padding: 20px 12px;
  font-style: italic;
  font-size: 15px;
  border: 0;
}

#parent .desc {
  width: calc(100% - 40px);
  padding: 12px;
  margin: 0;
  border: 0;
}

#parent h3 {
  margin: 12px 0;
}

.div_clear_all {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.div_clear_all button {
  width: 100%;
  height: 100%;
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  color: gray;
  background-color: #f1f1f1;
  border: 0;
}

.div_clear_all button:hover {
  color: #fff;
  background-color: lightgray;
}

.div_clear_all button:focus {
  color: gray;
  background-color: #f1f1f1;
}

.can {
  display: none;
}

.elipse,
.can,
.refresh,
.enter {
  font-size: 25px;
  padding: 6px;
}

.elipse:hover,
.can:hover,
.refresh:hover,
.enter:hover {
  border: lightgray solid 1px;
}

input.chk {
  width: 20px;
  height: 20px;
  margin: 6px 4px 6px 12px;
}

input:focus {
  outline: none;
}

.strike {
  text-decoration: line-through;
}

.yellow {
  background-color: rgb(248, 211, 110);
}
